<!DOCTYPE html>
<html>
  <head>
    <title>Medcard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div id="root"></div>
    <footer class="w-full pin-b text-center border-t border-grey p-4">
      Medcard <%= Time.current.year %>
    </footer>
  </body>
</html>
